.mainInfo {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 20px;
}

.playlistForm {
	display: flex;
}

.previewImage {
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 5px;
	border: 1px solid black;
	margin: -1px;
}

.formRow {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	height: 100%;
}

.formRow p {
	margin: 0;
}
